<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
    <title>{{title}} - Modern Portfolio Template</title>
  </head>
  <body class="overflow-x-hidden bg-bodyBackground font-normal text-greyBg">
    <!-- START PRELOADER AREA-->
    <div class="preloader fixed left-0 top-0 z-[99999999999999] flex h-[100vh] w-full items-center justify-center overflow-hidden bg-transparent">
      <svg class="absolute top-0 h-[110vh] w-[100vw] fill-bodyBackground" viewbox="0 0 1000 1000" preserveaspectratio="none">
        <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>
      <div class="preloader-heading">
        <div class="load-text z-20 text-xl font-extralight uppercase tracking-[15px]">
          <span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span>
        </div>
      </div>
    </div>

    {{> header }}

    <!-- START MAIN CONTENT -->
    <main>
      {{> content }}
    </main>

    {{> footer }}
    
    {{> scripts }}
    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>
