<!-- Header Component -->
<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>